body{
    color:black;
    font-size:large;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.5em;
}

h4{
     color:green;
     background-color: seashell;
     width:fit-content;
     margin-top: 5px;
}
h1{
    color:black;
    margin-bottom: 1.0em;
    width: 500px;
}
h2{
    color:red;
    background-color:seashell;
    width:fit-content;
    font-size: 1.4em;  
    margin-bottom: 1.0em;
    padding: 5px;
    
}
h3,h4{
    color:dodgerblue;
    background-color:seashell;
    width: fit-content;
    margin-bottom: 0.9em;
}
strong{
    background-color:yellowgreen;
}
a:link{
    color:red;
    width: 5.0em;
    font-weight: bolder;
}
a:visited{
    color:green;
    font-weight: bolder;
}
a:hover{
    color:violet;
}
p strong{ 
    background-color: yellow;
    font-style: italic;
    font-weight: bolder;
}

p.intro{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.main{
    text-indent:25px;
}

p.main, h1, h2, h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


img#final{
width:30%; 
margin-left: auto;
margin-right: auto;
display: block;
margin-bottom: 50px;
border: 5px outset red;
}

img#code{
width:20%;
float:right;
margin-bottom: 15px;
margin-left: 30px;
margin-top: 50px;
border: 5px outset dodgerblue;
}

ol li{
    margin-bottom: 0.2em;
}

div.p1{
text-indent:25px;
}

div.navbar{
    display:flex;
    border: 2px solid black;
    margin-left: 0px;
}
div.nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    text-align: center;
    background-color: seashell;
    width: calc(50%);
}
div.footbar{
    display:flex;
    border: 2px solid black;
}
div.foot{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    text-align: center;
    background-color: seashell;
    width: calc(33%);
}
@media (max-width: 700px) {
    body{
        margin-left: 3%;
        margin-right: 1%;
    }
    h1{
        color:black;
        margin-bottom: 1.0em;
        width: .5em;
    }
}